In [2]:
import tushare as ts
api = ts.get_apis()

In [10]:
df = ts.tick('002930',conn=api,date='2018-04-18')

In [13]:
import pandas as pd

In [15]:
df['datetime']=pd.to_datetime(df['datetime'])

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4628 entries, 0 to 4627
Data columns (total 4 columns):
datetime    4628 non-null datetime64[ns]
price       4628 non-null float64
vol         4628 non-null int64
type        4628 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 144.7 KB

In [17]:
df = df.set_index(df['datetime'],drop=True)

In [18]:
df.head()

                               datetime  price   vol  type
datetime
2018-04-18 09:25:00 2018-04-18 09:25:00  29.88  6735     2
2018-04-18 09:30:00 2018-04-18 09:30:00  29.76   134     1
2018-04-18 09:30:00 2018-04-18 09:30:00  29.95  5148     0
2018-04-18 09:30:00 2018-04-18 09:30:00  29.88  1026     1
2018-04-18 09:30:00 2018-04-18 09:30:00  30.00   926     0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4628 entries, 2018-04-18 09:25:00 to 2018-04-18 15:00:00
Data columns (total 4 columns):
datetime    4628 non-null datetime64[ns]
price       4628 non-null float64
vol         4628 non-null int64
type        4628 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 180.8 KB

In [29]:
df['2018-04-18 09':'2018-04-18 10']['vol'].sum()

188766

In [30]:
total = df['vol'].sum()

In [31]:
total

383844

In [53]:
night = df['2018-04-18 09']['vol'].sum()

In [35]:
float(night)/total*100

33.400287616844345

In [37]:
ten = df['2018-04-18 10']['vol'].sum()

In [40]:
float(ten)/total*100

15.7775033607403

In [41]:
eleven = df['2018-04-18 11']['vol'].sum()

In [43]:
float(eleven)/total*100

3.226310688717291

In [45]:
thirteen = df['2018-04-18 13']['vol'].sum()

In [46]:
float(thirteen)/total*100

30.195860818457497

In [47]:
total_share =6083*10000

In [51]:
turnover =float(total)/total_share*100*100

In [54]:
turnover

63.10110143021536

In [55]:
float(night)/total_share*100*100

21.075949367088604

In [57]:
df= ts.broker_tops()

[Getting data:]#################################

In [58]:
jg_df = ts.inst_tops()

[Getting data:]##

In [59]:
df.head()

,broker,count,bamount,bcount,samount,scount,top3
0,联储证券有限责任公司深圳滨海大道易思博证券营业部,1,4674.28,1,0.0,0,万家乐
1,光大证券股份有限公司宁波甬江大道证券营业部,2,3512.18,2,0.0,0,"汇金股份,万家乐"
2,兴业证券股份有限公司深圳分公司,3,7658.30,3,0.0,0,"天广中茂,狮头股份,万家乐"
3,万联证券股份有限公司内江隆昌跃进街证券营业部,1,1387.11,1,0.0,0,万家乐
4,招商证券股份有限公司扬州汶河北路证券营业部,2,2662.11,2,0.0,0,"德新交运,万家乐"

In [60]:
df.sort_values(by='count',ascending=False)

,broker,count,bamount,bcount,samount,scount,top3
140,华泰证券股份有限公司厦门厦禾路证券营业部,35,32714.00,19,19881.41,16,"中海达,华测导航,德邦股份,"
71,平安证券股份有限公司广西分公司,35,27522.19,24,10829.05,11,"七一二,湖南盐业,新疆火炬,"
190,国金证券股份有限公司上海奉贤区金碧路证券营业部,33,12056.93,23,4059.31,10,"泰永长征,万兴科技,顶点软件,"
16,平安证券股份有限公司深圳深南东路罗湖商务中心证券营业部,31,8362.81,16,4250.33,15,"七一二,恒银金融,中成股份,"
128,西藏东方财富证券股份有限公司拉萨金珠西路第一证券营业部,28,13084.79,19,5530.58,9,"湖南盐业,安妮股份,七一二,"
10,国泰君安证券股份有限公司成都北一环路证券营业部,21,27512.97,13,9353.34,8,"北新路桥,香溢融通,盈方微,"
294,财富证券有限责任公司杭州庆春路证券营业部,21,10693.93,13,4846.28,8,"七一二,湖南盐业,宏辉果蔬,"
228,华鑫证券有限责任公司乐清双雁路证券营业部,20,20531.51,11,13090.81,9,"聚灿光电,数字认证,铭普光磁,"
227,中信证券股份有限公司上海分公司,18,17397.14,9,15217.64,9,"乐视网,中石科技,德生科技,"
371,中信证券股份有限公司北京金融大街证券营业部,18,51465.44,10,34737.19,8,"浪潮信息,海峡股份,太极股份,"
110,华泰证券股份有限公司深圳益田路荣超商务中心证券营业部,17,11854.47,10,7425.47,7,"天邑股份,东土科技,爱婴室,"
146,平安证券股份有限公司北京东花市证券营业部,16,7229.47,8,3730.68,8,"彩讯股份,顶点软件,奥拓电子,"
548,华泰证券股份有限公司上海武定路证券营业部,16,9455.11,9,12595.63,7,"嘉友国际,盘龙药业,粤传媒,"
174,国泰君安证券股份有限公司南京太平南路证券营业部,16,14287.66,10,4989.67,6,"江龙船艇,紫光股份,大东海A,"
173,海通证券股份有限公司南京广州路证券营业部,15,6833.64,7,5788.84,8,"江龙船艇,凯伦股份,铭普光磁,"
64,中信证券（山东）有限责任公司淄博分公司,14,9201.20,7,9042.95,7,"顶点软件,东土科技,智能自控,"
187,国信证券股份有限公司深圳泰然九路证券营业部,14,8760.41,5,2044.54,9,"新大洲A,罗牛山,宏创控股,"
398,国泰君安证券股份有限公司深圳深南大道京基一百证券营业部,13,9200.15,8,6719.04,5,"恒银金融,铭普光磁,雄塑科技,"
142,东方证券股份有限公司上海浦东新区春晓路证券营业部,12,5481.03,7,4193.79,5,"朗科智能,雄塑科技,科达股份,"
155,中国中投证券有限责任公司上海复兴东路证券营业部,12,12117.70,6,12022.58,6,"太辰光,陕国投A,威唐工业,"
192,中信建投证券股份有限公司杭州庆春路证券营业部,12,12556.01,6,10352.22,6,"太辰光,大东海A,华测导航,"
48,湘财证券股份有限公司上海陆家嘴证券营业部,12,4537.86,6,6418.53,6,"恒银金融,海航创新,鸿博股份,"
238,国金证券股份有限公司上海互联网证券分公司,11,2944.81,5,6772.83,6,"宏川智慧,万兴科技,鸿博股份,"
455,华泰证券股份有限公司上海普陀区江宁路证券营业部,11,11650.26,6,7857.37,5,"嘉友国际,三超新材,今飞凯达,"
162,长江证券股份有限公司上海东明路证券营业部,11,15520.10,7,8787.74,4,"海特高新,光一科技,汇金股份,"
171,国信证券股份有限公司上海北京东路证券营业部,11,879.63,2,806.06,9,"榕基软件,北新路桥,科达股份,"
20,中国中投证券有限责任公司杭州环球中心证券营业部,11,13077.38,9,1900.59,2,"光一科技,乐视网,海南瑞泽,"
230,华鑫证券有限责任公司常州晋陵中路证券营业部,10,8221.72,8,2127.26,2,"恒锋信息,德生科技,凯伦股份,"
95,中信证券股份有限公司杭州延安路证券营业部,10,5130.34,5,6940.99,5,"中国科传,民生控股,飞乐音响,"
116,华泰证券股份有限公司孝感长征路证券营业部,10,5798.16,5,5444.52,5,"德生科技,长城科技,科蓝软件,"
...,...,...,...,...,...,...,...
717,方正证券股份有限公司衢州龙游人民路证券营业部,1,0.00,0,427.38,1,恒锋信息
718,长城证券股份有限公司杭州分公司,1,393.27,1,0.00,0,飞鹿股份
719,中国银河证券股份有限公司沈阳三经街证券营业部,1,225.62,1,0.00,0,飞鹿股份
721,中国民族证券有限责任公司乌鲁木齐人民路证券营业部,1,0.00,0,535.15,1,飞鹿股份
686,招商证券股份有限公司上海娄山关路证券营业部,1,1301.77,1,0.00,0,信息发展
684,恒泰证券股份有限公司呼和浩特新城北街证券营业部,1,284.96,1,0.00,0,光一科技
683,东莞证券股份有限公司东莞常平分公司,1,325.07,1,0.00,0,光一科技
682,中泰证券股份有限公司青岛正阳路证券营业部,1,0.00,0,724.66,1,朗玛信息
634,光大证券股份有限公司广安金安大道证券营业部,1,784.06,1,0.00,0,荣之联
637,南京证券股份有限公司南京热河路证券营业部,1,0.00,0,566.35,1,荣之联
638,中国银河证券股份有限公司德清证券营业部,1,0.00,0,526.94,1,荣之联
644,东方证券股份有限公司桂林中山中路证券营业部,1,1956.05,1,0.00,0,真视通
647,华创证券有限责任公司贵阳新华路证券营业部,1,0.00,0,531.34,1,真视通
648,民生证券股份有限公司厦门分公司,1,0.00,0,311.42,1,真视通
650,广发证券股份有限公司中山小榄营业部,1,0.00,0,201.00,1,真视通
651,申万宏源西部证券有限公司南宁英华路证券营业部,1,1051.16,1,0.00,0,盘龙药业
653,中国银河证券股份有限公司北京立通路证券营业部,1,698.20,1,0.00,0,今飞凯达
655,国泰君安证券股份有限公司吉林松江路证券营业部,1,0.00,0,544.06,1,今飞凯达
657,万和证券股份有限公司广州中山大道西证券营业部,1,326.81,1,0.00,0,钧达股份
659,西部证券股份有限公司柳州海关路证券营业部,1,248.63,1,0.00,0,钧达股份
660,广发证券股份有限公司深圳新安二路证券营业部,1,335.45,1,0.00,0,惠威科技
661,中信证券股份有限公司汕头海滨路证券营业部,1,0.00,0,580.77,1,惠威科技
667,国海证券股份有限公司深圳中心路证券营业部,1,0.00,0,377.09,1,德生科技
670,广发证券股份有限公司深圳高新南一道证券营业部,1,500.00,1,0.00,0,泰永长征
673,长江证券股份有限公司吉安井冈山大道证券营业部,1,0.00,0,858.49,1,名臣健康
677,中国中投证券有限责任公司佛山顺德东乐路证券营业部,1,0.00,0,396.98,1,三五互联
679,中信建投证券股份有限公司宁波镇明路证券营业部,1,0.00,0,1717.28,1,朗玛信息
680,平安证券股份有限公司郑州金水东路证券营业部,1,0.00,0,1204.24,1,朗玛信息
681,方正证券股份有限公司北京玉带河东街证券营业部,1,0.00,0,880.56,1,朗玛信息
1290,平安证券股份有限公司福建分公司,1,0.00,0,2499.26,1,狮头股份