In [4]:
#-*-coding=utf-8-*-
# 龙虎榜
import tushare as ts
import datetime

In [8]:
# current = datetime.datetime.now().strftime('%Y-%m-%d')
current='2018-04-23'
df = ts.top_list(current)

In [9]:
df.head()

,code,name,pchange,amount,buy,sell,reason,bratio,sratio,date
0,000070,特发信息,-9.9701,5879.18,2801.93,3077.24,日跌幅偏离值达到7%的前五只证券,0.17,0.19,2018-04-23
1,000407,胜利股份,8.2863,3825.35,2398.34,1427.00,日涨幅偏离值达到7%的前五只证券,0.24,0.15,2018-04-23
2,000605,渤海股份,-9.9849,4613.54,913.24,3700.30,日跌幅偏离值达到7%的前五只证券,0.05,0.21,2018-04-23
3,000638,万方发展,-9.9598,889.49,484.16,405.32,日跌幅偏离值达到7%的前五只证券,0.14,0.12,2018-04-23
4,000816,智慧农业,-9.7923,5115.01,1846.12,3268.88,日跌幅偏离值达到7%的前五只证券,0.05,0.09,2018-04-23

In [10]:
df[df['code']=='002930']

,code,name,pchange,amount,buy,sell,reason,bratio,sratio,date
24,002930,宏川智慧,4.8647,9892.49,4999.10,4893.40,日换手率达到20%的前五只证券,0.08,0.07,2018-04-23