In [51]:
%matplotlib inline
import pandas as pd
import numpy as np
import tushare as ts
import matplotlib.pyplot as plt

In [52]:
api = ts.get_apis()

In [53]:
df = ts.bar('300144',conn=api,start_date='2018-01-01')

In [54]:
df.head()

              code   open  close   high    low       vol       amount
datetime
2018-03-23  300144  19.11  19.20  19.80  19.06  112123.0  216926128.0
2018-03-22  300144  19.82  19.68  19.99  19.65   64809.0  128441280.0
2018-03-21  300144  20.41  19.81  20.55  19.71   80630.0  162826720.0
2018-03-20  300144  19.92  20.45  20.48  19.77   93219.0  188129840.0
2018-03-19  300144  19.95  20.09  20.37  19.88   90163.0  181802432.0

In [55]:
closed = df['close']
closed

datetime
2018-03-23    19.20
2018-03-22    19.68
2018-03-21    19.81
2018-03-20    20.45
2018-03-19    20.09
2018-03-16    19.90
2018-03-15    20.29
2018-03-14    20.25
2018-03-13    20.64
2018-03-12    20.50
2018-03-09    20.59
2018-03-08    19.61
2018-03-07    19.75
2018-03-06    19.55
2018-03-05    19.39
2018-03-02    19.16
2018-03-01    19.63
2018-02-28    19.66
2018-02-27    19.46
2018-02-26    19.31
2018-02-23    19.12
2018-02-22    19.06
2018-02-14    18.50
2018-02-13    18.57
2018-02-12    18.72
2018-02-09    17.98
2018-02-08    18.69
2018-02-07    18.37
2018-02-06    17.67
2018-02-05    18.78
2018-02-02    18.87
2018-02-01    18.38
2018-01-31    18.45
2018-01-30    19.19
2018-01-29    19.24
2018-01-26    19.50
2018-01-25    19.41
2018-01-24    19.54
2018-01-23    18.44
2018-01-22    18.64
2018-01-19    18.05
2018-01-18    18.13
2018-01-17    18.30
2018-01-16    17.98
2018-01-15    17.82
2018-01-12    18.18
2018-01-11    18.27
2018-01-10    18.30
2018-01-09    18.50
2018-01-08    18.68
2018-01-05    18.82
2018-01-04    18.87
2018-01-03    18.78
2018-01-02    18.56
Name: close, dtype: float64

In [56]:
year_closed = closed.resample('w',how='ohlc')

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).ohlc()
  """Entry point for launching an IPython kernel.

In [57]:
year_closed

             open   high    low  close
datetime
2018-01-07  18.56  18.87  18.56  18.82
2018-01-14  18.68  18.68  18.18  18.18
2018-01-21  17.82  18.30  17.82  18.05
2018-01-28  18.64  19.54  18.44  19.50
2018-02-04  19.24  19.24  18.38  18.87
2018-02-11  18.78  18.78  17.67  17.98
2018-02-18  18.72  18.72  18.50  18.50
2018-02-25  19.06  19.12  19.06  19.12
2018-03-04  19.31  19.66  19.16  19.16
2018-03-11  19.39  20.59  19.39  20.59
2018-03-18  20.50  20.64  19.90  19.90
2018-03-25  20.09  20.45  19.20  19.20

In [58]:
apt = (year_closed.high-year_closed.low)/year_closed.low*100

In [59]:
apt

datetime
2018-01-07    1.670259
2018-01-14    2.750275
2018-01-21    2.693603
2018-01-28    5.965293
2018-02-04    4.678999
2018-02-11    6.281834
2018-02-18    1.189189
2018-02-25    0.314795
2018-03-04    2.609603
2018-03-11    6.188757
2018-03-18    3.718593
2018-03-25    6.510417
Freq: W-SUN, dtype: float64

In [60]:
df=df.dropna(axis=0)
df['close']

datetime
2018-03-23    19.20
2018-03-22    19.68
2018-03-21    19.81
2018-03-20    20.45
2018-03-19    20.09
2018-03-16    19.90
2018-03-15    20.29
2018-03-14    20.25
2018-03-13    20.64
2018-03-12    20.50
2018-03-09    20.59
2018-03-08    19.61
2018-03-07    19.75
2018-03-06    19.55
2018-03-05    19.39
2018-03-02    19.16
2018-03-01    19.63
2018-02-28    19.66
2018-02-27    19.46
2018-02-26    19.31
2018-02-23    19.12
2018-02-22    19.06
2018-02-14    18.50
2018-02-13    18.57
2018-02-12    18.72
2018-02-09    17.98
2018-02-08    18.69
2018-02-07    18.37
2018-02-06    17.67
2018-02-05    18.78
2018-02-02    18.87
2018-02-01    18.38
2018-01-31    18.45
2018-01-30    19.19
2018-01-29    19.24
2018-01-26    19.50
2018-01-25    19.41
2018-01-24    19.54
2018-01-23    18.44
2018-01-22    18.64
2018-01-19    18.05
2018-01-18    18.13
2018-01-17    18.30
2018-01-16    17.98
2018-01-15    17.82
2018-01-12    18.18
2018-01-11    18.27
2018-01-10    18.30
2018-01-09    18.50
2018-01-08    18.68
2018-01-05    18.82
2018-01-04    18.87
2018-01-03    18.78
2018-01-02    18.56
Name: close, dtype: float64

In [61]:
df['close'].plot()

NameError: global name '_converter' is not defined

In [62]:
year_closed.plot()

NameError: global name '_converter' is not defined